@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

:root{
    --primary-white: #fff;
    --primary-orange: #f9ab00;
    --primary-dark:rgba(255,255,255,0);
    --primary-red: #ef4035;
    --primary-hover-red: #f33501;
}

a{
    text-decoration: none;
}

nav{
    z-index: 2;
}

nav a.nav-link{
    cursor: pointer;
    letter-spacing: 0.0365rem;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav > li > a{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    color: var(--primary-white) !important ;
    border-top: 0.1875rem solid var(--primary-dark);
    outline: none;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
    border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover{
    border-top: 0.1875rem solid var(--primary-orange);
}

/* *************************** Header ***************************** */

.header-wraper{
    position: relative;
    background: url("photo-1499750310107-5fef28a66643.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    width: 100%;
    background: rgba(0 ,0,0,0.5);
    background-size: cover;
    z-index: 1;

}



.main-info h1{
    color: var(--primary-orange);
    text-transform: uppercase;
    font-weight: 800;
}


/* *************************** typed text ***************************** */

.typed-text{
    font-size: 2rem;
    color: var(--primary-white);
}

/* *************************** btn-main-offer ***************************** */

.btn-main-offer{
    border: 1px solid var(--primary-red);
    padding: 0.75rem 1.25rem;
    border-radius: 2px;
    text-transform: uppercase;
    margin: 2rem;
    color: var(--primary-white);
}

.btn-main-offer:hover{
    text-decoration: none;
    background-color: var(--primary-hover-red);
    color: var(--primary-white);
    transition: all 0.1s ease-in-out;
}

/* *************************** particles ***************************** */


.tsparticles-canvas-el{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}